/*
    BODY
*/
body{
    padding:0;
    margin:0;
    user-select:none;
    background-color:black;
    overflow:hidden;
    font-family:Arial;
    overflow: hidden;
    height: 100%;
}

#CANVAS{
    z-index: 0;
}
